@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="swagger/v1.0/swagger.json">API Documentation (Swagger)</a></p>
</div>
